* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	transition: all .4s ease-in; /* плавный переход */
}


html,body {
	height: 100%
}
body {
	border-left: 20px solid #2B81AC;
	border-right: 20px solid #2B81AC;
	background:#3399CC;
	color: #fff;
	font: 20px “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}
header{
	padding: 60px 0 20px;
	width: 70%;
	margin: 0 auto;
}
h1 {
	font-weight: 500;
	font-size: 24px;
	text-transform: capitalize;
	/* margin-left: 38px; */
}
footer {
	width: 70%;
	margin: 20px auto;

}
ul:hover li {
	opacity: 0.4;
}
ul li:hover {
	opacity: 1;
}
span {
	cursor: pointer;
}
.list {
	width: 70%;
	margin: 0 auto;
	list-style-type: none;
	font-size: 0;
	border: 2px solid #fff; 
}

.small{
	padding: 10px 0;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	border: 2px solid #fff;
	width: 50%;
	height: 40%;
	
}

.medium{
	padding: 10px 0;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	border: 2px solid #fff;
	width: 25%;
	height: 40%;
	
	}
.large{
	padding: 10px 0;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	border: 2px solid #fff;
	width: 100%;
	height: 40%;
	
	}
.small li:focus,
.small li:hover,
.medium li:focus,
.medium li:hover,
.large li:focus,
.large li:hover {
	display: inline-block;
	font-size: 14px;
	border: 2px solid #fff;
	height: 100px;
	text-align: center;
	padding-top: 25px;
}
 
.color_Paris{
	background: #33CCCC;
}
.color_Belgrade{
	background: #996699;
}
.color_Moscow{
	background: #C24747;
}
.color_TelAviv{
	background: #E2674A;
}
.color_Cair{
	background: #FFCC66;
}
.color_NewYork{
	background: #99CC99;
}
.color_NewDelhi{
	background: #669999;
}
.color_Francisco{
	background: #CC6699;
}
.color_Tokio{
	background: #339966;
}
.color_Sydney{
	background: #666699;
}
.wi{
	font-size: 30px;
}
















